{% include "head.html" %}

{% include "navbar.html" %}

<div class="container-fluid">

    {% if num_errors > 0 %}
        <div class="row" style="margin: .5em;">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Description</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <h2>Errors</h2>
                        {% for error in data.errors %}
                            <tr>
                            <td>{{ error.title }}</th>
                            <td>{{ error.action | safe }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>