<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1.5em;">
    <a class="navbar-brand" href="{% url 'Index' %}">OpenVPN UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="{% url 'Index' %}">Overview <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'Servers' %}">OpenVPN</a>
        <a class="nav-link" href="#">OSPF</a>
    </div>
  </nav>