{% include "head.html" %}

<div class="container-fluid" style="padding: 0;">
    {% include "navbar.html" %}

    <div class="row" style="margin: .5em;">
        <div class="col-sm-12">
            <button type="button" style="float: right;" class="btn btn-info" onclick="location.href = '/openvpn/Servers/create'">Create Server</button>
            <h2>Servers</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col" style="width: 7em">Status</th>
                    <th scope="col">Server</th>
                    <th scope="col">Port</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vpn in vpns %}
                        <tr>
                        {% if vpn.running == True %}
                            <td><span class="badge badge-success">Running</span></th>
                        {% else %}
                            <td><span class="badge badge-danger">Not running</span></th>
                        {% endif %}
                        <td><a href="/openvpn/Servers/{{ vpn.name }}">{{ vpn.name }}</a></th>
                        <td>{{ vpn.port }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>